.confetti {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999;
}

.confetti-piece {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  position: absolute;
  top: -50px;
  left: -25px;
  background-color: #ffffff;
  animation: fall 2s ease-in-out infinite;
  transform: rotate(45deg);
}

@keyframes fall {
  0% {
    transform: translateY(-100%);
  }

  100% {
    transform: translateY(100%);
  }
}