<!DOCTYPE html>
<html>

<head>
  <title>Wheel of Fortune</title>
  <script src="{{ url_for('static', filename='scripts/spin.js') }}"></script>
  <script src="{{ url_for('static', filename='scripts/add_field.js') }}"></script>
  <script src="{{ url_for('static', filename='scripts/remove_field.js') }}"></script>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/style.css') }}">
</head>

<body>
  <h1>Wheel of Fortune</h1>
  <div id="inputContainer">
    <input type="text" name="value">
  </div>
  <button onclick="addInput()">+</button>
  <button onclick="removeInput()">-</button>
  <br>
  <br>
  <button onclick="spin()">Spin the Wheel</button>
  <p id="result"></p>

  <div class="wheel">
    <div class="sector">
      <p>Sector 1</p>
      <p>Sector 2</p>
      <p>Sector 3</p>
    </div>
  </div>
  <!-- Add more sectors as needed -->
  </div>
</body>

</html>