#buttonsContainer {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

button {
  width: 100px;
  height: 36px;
  margin: 10px;
  padding: 40px 30px;
  font-size: 18px;
  border-radius: 18px;
  border: 2px solid #ccc;
  background-color: #ffd740;
  cursor: pointer;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease;
}

.buttonMinus {
  background-color: #FF8080;
  /* Pastel Red */
}

.buttonMinus:hover {
  background-color: #FF3333;
}

.buttonMinus:active {
  background-color: #CC2929;
}

.buttonPlus {
  background-color: #80FF80;
  /* Pastel Green */
}

.buttonPlus:hover {
  background-color: #33FF33;
}

.buttonPlus:active {
  background-color: #29CC29;
}

.buttonSpin {
  background-color: #FFC080;
  /* Pastel Orange */
}

.buttonSpin:hover {
  background-color: #FF9933;
}

.buttonSpin:active {
  background-color: #CC6629;
}


button:hover {
  transform: translateY(-2px);
  box-shadow: 2px 2px 4px #ccc;
}

button:active {
  transform: translateY(0);
  box-shadow: none;
}