/* #inputContainer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding-bottom: 50px;
  position: relative;
} */

#inputContainer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
  position: relative;
}


input[name="value"] {
  margin-bottom: 10px;
}

input[type="text"] {
  width: 300px;
  height: 36px;
  margin: 10px;
  padding: 10px;
  font-size: 18px;
  border-radius: 18px;
  border: 2px solid #CC6629;
  background-color: #49483e;
  color: #b6b6b3;
  transition: all 0.3s ease;
}

input[type="text"]:focus {
  background-color: #665c54;
  outline: none;
  transform: translateY(-2px);
  box-shadow: 2px 2px 4px #CC6629;
}