#inputContainer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

input[name="value"] {
  margin-bottom: 10px;
}

input[type="text"] {
  width: 300px;
  height: 36px;
  margin: 10px;
  padding: 10px;
  font-size: 18px;
  border-radius: 18px;
  border: 2px solid #f92672;
  background-color: #49483e;
  color: #f8f8f2;
  transition: all 0.3s ease;
}

input[type="text"]:focus {
  background-color: #665c54;
  outline: none;
  transform: translateY(-2px);
  box-shadow: 2px 2px 4px #f92672;
}