h1 {
  text-align: center;
  font-size: 36px;
  font-family: Arial, sans-serif;
  margin-bottom: 20px;
}

#buttonsContainer {
  display: flex;
  justify-content: space-between;
  width: 50%;
  margin-bottom: 10px;
}

button {
  width: 100px;
  height: 36px;
  margin: 10px;
  padding: 40px 30px;
  font-size: 18px;
  border-radius: 18px;
  border: 2px solid #ccc;
  background-color: #f7f7f7;
  cursor: pointer;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease;
}

button:hover {
  background-color: #e6e6e6;
  transform: translateY(-2px);
  box-shadow: 2px 2px 4px #ccc;
}

button:active {
  background-color: #ccc;
  transform: translateY(0);
  box-shadow: none;
}

#inputContainer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

input[name="value"] {
  margin-bottom: 10px;
}

input[type="text"] {
  width: 300px;
  height: 36px;
  margin: 10px;
  padding: 10px;
  font-size: 18px;
  border-radius: 18px;
  border: 2px solid #ccc;
  background-color: #f7f7f7;
  transition: all 0.3s ease;
}

input[type="text"]:focus {
  background-color: #e6e6e6;
  transform: translateY(-2px);
  box-shadow: 2px 2px 4px #ccc;
}


#result {
  text-align: center;
  font-size: 24px;
  font-family: Arial, sans-serif;
  margin-top: 20px;
}

#winner {
  animation: winner-animation 1s linear forwards;
}

@keyframes winner-animation {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.5);
  }

  100% {
    transform: scale(1);
  }
}

.winner {
  animation: winner-animation 2s linear forwards;
}

@keyframes winner-animation {
  0% {
    transform: scale(1);
  }

  25% {
    transform: scale(1.5);
  }

  50% {
    transform: scale(2);
  }

  75% {
    transform: scale(1.5);
  }

  100% {
    transform: scale(1);
  }
}