<!DOCTYPE html>
<html>

<head>
  <title>Spinner App</title>
  <script src="{{ url_for('static', filename='scripts/spin.js') }}"></script>
  <script src="{{ url_for('static', filename='scripts/add_field.js') }}"></script>
  <script src="{{ url_for('static', filename='scripts/remove_field.js') }}"></script>
  <script src="{{ url_for('static', filename='scripts/store_values.js') }}"></script>
  <script src="https://cdn.jsdelivr.net/npm/canvas-confetti@1.5.1/dist/confetti.browser.min.js"></script>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/style.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/buttons.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/inputs.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/winner.css') }}">
</head>

<body>
  <h1>Spinner App</h1>
  <div id="buttonsContainer">
    <button class="buttonSpin" onclick="spin()">Get luck</button>
    <button class="buttonPlus" onclick="addInput()">+</button>
    <button class="buttonMinus" onclick="removeInput()">-</button>
  </div>
  <p id="result">The winner is:</p>
  <div id="inputContainer">
  </div>
  <footer id="madeWith">
    Made with ❤️ using ChatGPT
  </footer>
  <br>
  <br>
</body>

</html>